IMAGE {{ image }}
BOOTLOADER {{ bootloader }}
HOSTNAME {{ inventory_hostname_short }}

# Hard disk drives to wipe and use
{% for device in ansible_devices if device.startswith("sd") -%}
  DRIVE{{ loop.index }} /dev/{{ device }}
{% endfor %}

# No RAID, Ceph will do the dirty work
SWRAID {{ swraid }}
SWRAIDLEVEL {{ swraid_level }}

# Physical partitions
{% for part in partitions -%}
  PART {{ part.mountpoint }} {{ part.filesystem }} {{ part.size }}
{% endfor %}

# Logical volumes
{% for lv in logical_volumes -%}
  LV {{ lv.vg }} {{ lv.name }} {{ lv.mountpoint }} {{ lv.filesystem }} {{ lv.size }}
{% endfor %}
